################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ACS.BL/obj/Debug
/.vs/RobotControlSystem
/ACS.Common/obj/Debug
/ACS.Common/bin/Debug
/ACS.Common/.vs
/ACS.DL/bin/Debug
/ACS.DL/.vs
/ACS.DL/obj/Debug
/RobotControlSystem/obj/Debug
/.vs/AGVControlSystem/CopilotIndices/17.13.444.19527
/.vs/AGVControlSystem
/RobotControlSystem/.vs
/RobotControlSystem/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
/RobotControlSystem/bin/Debug/RobotControlSystem.exe
/RobotControlSystem/bin/Debug/RobotControlSystem.exe.config
/RobotControlSystem/bin/Debug/RobotControlSystem.pdb
/RobotControlSystem/bin/Debug/System.Buffers.dll
/RobotControlSystem/bin/Debug/System.Memory.dll
/RobotControlSystem/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/ACS.BL/bin/Debug/ACS.BL.pdb
*.dll
/ACS.BL/bin/Debug/ACS.Common.dll
/ACS.BL/bin/Debug/ACS.Common.pdb
/ACS.BL/bin/Debug/ACS.DL.dll
/ACS.BL/bin/Debug/ACS.DL.pdb
/RobotControlSystem/bin/Debug/ACS.BL.dll
/RobotControlSystem/bin/Debug/ACS.BL.pdb
/RobotControlSystem/bin/Debug/ACS.Common.dll
/RobotControlSystem/bin/Debug/ACS.Common.pdb
/RobotControlSystem/bin/Debug/ACS.DL.dll
/RobotControlSystem/bin/Debug/ACS.DL.pdb
